<div class="header-container">
    <img src="../../assets/images/main-logo.png" alt="" srcset="">
    
    <!-- <form class="form-hidden">
      <input class="input-hidden" type="text" placeholder="Search product in Esquire.." name="search">
      <button type="submit" class="search-btn-hidden"><i class="fa fa-search"></i></button>
    </form> -->

    <form class="form">
      <input class="input" type="text" placeholder="Search product in Esquire.." name="search">
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </form>
    
        <div class="header-container-right">
          
          <div class="car">
            <i class="fa fa-truck"></i>
            <div style="display:flex;flex-direction:column;padding-top: 18px;color: white;font-size: 18px;">Free <br>Delivery</div>
          </div>

          <div class="contact">
            <i class="fa fa-phone"></i>
            <div style="display:flex;flex-direction:column;padding-top: 18px;color: white;font-size: 18px;">Contact <br>+8809610001010</div>
          </div>

          <div class="map">
            <i class="fa fa-map"></i>
            <div style="display:flex;flex-direction:column;padding-top: 12px;color: yellow;"> <h3>Store Locator</h3> <br>

                <div style="display: flex;flex-direction:row;margin-top: -40px;font-size: 15px;color: rgb(255, 255, 255);" class="social-icon-header">
                <i class="fa fa-facebook"></i>
<i class="fa fa-twitter"></i>
<i class="fa fa-google"></i>
<i class="fa fa-linkedin"></i>
</div>

            </div>
          </div>

        </div>
      
</div>


