<div class="footer-container">

    <div class="footer-column1">
<img src="../../assets/images/main-logo.png" alt="" srcset="" style="width: 320px;height: 60px;margin: 10px;">

<p>
    Buy Original Electronic products at Esquire <br> 
    Electronics - Best Online Shop in <br>
    Bangladesh <br>
    Address : <br>
    Esquire Tower, 9th floor, Shaheed <br>
     Tajuddin Ahmed Avenue, Dhaka 1208, <br>
      Bangladesh
</p>
<br>
<p>Phone:8809610001010</p>
<br>
<p>Email: online.query@esquirebd.com</p>
</div>


<div class="footer-column2">

    <p style="color:orange;">
        SHOPPING WITH US
    </p>
    <br>
    <p>Why Shop with us</p>
    
    <br>
    <p>Online Purchase Procedure</p>
    
    <br>
    <p>Online Payment Methods</p>
    
    <br>
    <p>Online Payment Security</p>
    
    <br>
    <p>Online Partner</p>
    
    <br>
    <p>EMI Payment Facility</p>
    
    <br>
    <p>Shohoj Kisti Facility</p>
   
    
    </div>

    <div class="footer-column2">

        <p style="color:orange;">
            CUSTOMER SERVICE
        </p>
        <br>
        <p>After Sales Support</p>
        
        <br>
        <p>Contact Service Center</p>
        
        <br>
        <p>Warranty Policy</p>
        
        <br>
        <p>Return & Refund Policy</p>
        
        <br>
        <p>Privacy Policy</p>
        
        <br>
        <p>Terms & Conditions</p>
        
        <br>
        <p>FAQ</p>
       
        
        </div>

 <div class="footer-column2" style="padding-left: 140px;">

            <p style="color:orange;">
                USEFUL LINK
            </p>
            <br>
            <p>Store Locator</p>
            
            <br>
            <p>Site Map</p>
            
            <br>
            <p>Warranty Policy</p>
            
            <br>
            <p>Return & Refund Policy</p>
            
            <br>
            <p>Product Authenticator</p>
            
           
           
            
    </div>

<div class="footer-column3">
    <h1>FOLLOW US</h1>

    <div style="display:flex;"><a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a></div>

        
        <div class="play-btn">
            <h1 style="color:white; margin-bottom:-2px;margin-left: 4px;">DOWNLOAD APPS</h1>
            <img src="../../assets/images/play-btn.svg" alt="" srcset="">
            <img src="../../assets/images/playstrore.svg" alt="" srcset=""></div>

            <div style="color: white; margin-top: 20px;margin-left: 4px;">
            <h2 style="color:rgb(166, 237, 216);">Sign Up For Newsletters</h2>
           <p style="margin-top: -10px;">Get E-mail updates about our latest shop and special offers</p>
           
           
</div>
<form class="form2">
    <input class="input2" type="text" placeholder="Search product in Esquire.." name="search">
  <img src="../../assets/images/paper-plane.png" alt="" srcset="">
</form>
</div>




</div>

<!-- 
<div class="footer-container2">
    <p class="f">
        Esquireelectronicsltd.com is one of the highest rated and most trusted consumer electronics online shopping platform in Bangladesh offering premium quality products coupled with a seamless online shopping experience to purchase Original Electronic Appliances. You can find almost all kind of household electronics solution for your home like; Air-conditioners, Refrigerators, Freezers, TV, Washers, Kitchen Appliances and more. We specialize in global brands, most notably SHARP & GENERAL. Our other brands include Danaaz, Morphy Richards, Philips, Kent, and Livpure. We are committed to exceptional customer service and our track record since 1977 is a testament to our commitment to excellence. Esquire is committed to serve, Esquire is here for the long run, Esquire is here for you.
    </p>
    
    <div class="footer-semi-container">
        <div class="footer-semi">
            <h1 style="color:orange">HASSLE FREE ONLINE ELECTRONICS SHOP IN BD</h1>
            <p>We understand how hectic your schedule is. In addition to that, you might also find online shopping confusing among so many options. We are here to help with that! Check and choose from our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to worry about quality as we are the pioneers in supplying quality goods from world-class brands. Just place the order and we shall deliver to your address in no time… Ohh, did we forget to mention that you will enjoy free delivery across the nation? So, shop away!</p>
        </div>
        <div class="footer-semi">
            <h1 style="color:orange">HASSLE FREE ONLINE ELECTRONICS SHOP IN BD</h1>
            <p>We understand how hectic your schedule is. In addition to that, you might also find online shopping confusing among so many options. We are here to help with that! Check and choose from our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to worry about quality as we are the pioneers in supplying quality goods from world-class brands. Just place the order and we shall deliver to your address in no time… Ohh, did we forget to mention that you will enjoy free delivery across the nation? So, shop away!</p>
            <br><br>
            <h1 style="color:orange">HASSLE FREE ONLINE ELECTRONICS SHOP IN BD</h1>
            <p>We understand how hectic your schedule is. In addition to that, you might also find online shopping confusing among so many options. We are here to help with that! Check and choose from our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to worry about quality as we are the pioneers in supplying quality goods from world-class brands. Just place the order and we shall deliver to your address in no time… Ohh, did we forget to mention that you will enjoy free delivery across the nation? So, shop away!</p>
        </div>

        <div class="footer-semi">
            <h1 style="color:orange">HASSLE FREE ONLINE ELECTRONICS SHOP IN BD</h1>
            <p>We understand how hectic your schedule is. In addition to that, you might also find online shopping confusing among so many options. We are here to help with that! Check and choose from our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to worry about quality as we are the pioneers in supplying quality goods from world-class brands. Just place the order and we shall deliver to your address in no time… Ohh, did we forget to mention that you will enjoy free delivery across the nation? So, shop away!</p>
            <br><br>
            <h1 style="color:orange">HASSLE FREE ONLINE ELECTRONICS SHOP IN BD</h1>
            <p>We understand how hectic your schedule is. In addition to that, you might also find online shopping confusing among so many options. We are here to help with that! Check and choose from our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to worry about quality as we are the pioneers in supplying quality goods from world-class brands. Just place the order and we shall deliver to your address in no time… Ohh, did we forget to mention that you will enjoy free delivery across the nation? So, shop away!</p>
        </div>

    </div>
</div> -->

