<div class="navbar-conatiner">

<div style="display: flex;flex-direction:row;">
<img src="../../assets/images/ham.jpg" alt="" srcset="" style="width: 50px;height:50px;padding: 5px;border-radius: 10px;cursor: pointer;">
<div class="shop-by-cat">
    <p>Shop By </p>
    <div style="display:flex;">
   <h1 style="margin-top: -14px;">Category</h1>
   <img src="../../assets/images/arrow-down.png" alt="" srcset="">
</div>
</div>


<button class="menu-btn" style="padding:10px;background-color:red;border: none;color: white;font-size: 16px; height: 40px;margin-top: 10px;">Menu</button>
<div class="menu-title">
    <h3>Home</h3>
    <h3>Products</h3>
    <h3>Installation & Repair</h3>
    <img src="../../assets/images/arrow-down.png" alt="" srcset="">
    <h3>Offers</h3>
    <h3>Blog</h3>
    <h3>About Us</h3>
    <h3>Contact Us</h3>
    <img src="../../assets/images/arrow-down.png" alt="" srcset="">
    
</div>


<div class="signin">
    <p>Sign in</p>
    <i class="fa fa-shopping-cart"></i>

    <div style="display:flex;flex-direction: column;">
    <h4 style="padding:8px;color:rgb(182, 21, 21);margin-top: -10px;">My Cart</h4>
    <img src="../../assets/images/arrow-down.png" alt="" srcset="" style="width: 20px;height:20px;margin-top: -18px;margin-left: 24px;">
    </div>

</div>
</div>





</div>
