
<div class="product-main">

  <div class="product-parent">

    <div class="product-child-container">  
        
            <img src="../../assets/images/blender1.jpg" alt="" srcset="">
            <!-- <img class="top-img" src="../../assets/images/blender2.jpg" alt="" srcset=""> -->
       
    </div>
    <div class="star-wrapper">
        <input type="checkbox" id="st1" value="1" />
        <label for="st1"></label>
        <input type="checkbox" id="st2" value="2" />
        <label for="st2"></label>
        <input type="checkbox" id="st3" value="3" />
        <label for="st3"></label>
        <input type="checkbox" id="st4" value="4" />
        <label for="st4"></label>
        <input type="checkbox" id="st5" value="5" />
        <label for="st5"></label>
      </div>
      <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
          <h1 style="text-align:center;padding-top:10px;color:red">Esquire Grinder Mixer 354354</h1><br>
          <div style="display: flex;margin-top: -15px; ">
        </div>
      </div>

      <div class="btn-overlay">
     
        <div class="btn-overlay-child">
            <h2 style="text-align:center;color:maroon;padding: 10px;">৳ 43,000</h2>
            <h2 style="text-decoration: line-through;padding: 10px;">৳ 56,000</h2>
        </div>

          <div class="btn-overlay-child2">
        <i class="fa fa-shopping-cart" style="font-size:34px;padding: 10px;"></i>
        <i class="fa fa-eye" style="font-size:34px;padding: 10px;"></i>
        <i class="fa fa-arrow-right" style="font-size:34px;padding: 10px;"></i>
    </div>

      </div>
    
    </div>




  <!-- <div class="product-parent">

    <div class="product-child-container">  
        
            <img src="../../assets/images/c1.jpg" alt="" srcset="">
            <img class="top-img" src="../../assets/images/c2.jpg" alt="" srcset="">
       
    </div>
    <div class="star-wrapper">
        <input type="checkbox" id="st1" value="1" />
        <label for="st1"></label>
        <input type="checkbox" id="st2" value="2" />
        <label for="st2"></label>
        <input type="checkbox" id="st3" value="3" />
        <label for="st3"></label>
        <input type="checkbox" id="st4" value="4" />
        <label for="st4"></label>
        <input type="checkbox" id="st5" value="5" />
        <label for="st5"></label>
      </div>
      <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
          <h1 style="text-align:center;padding-top:10px;color:red">Esquire Grinder Mixer 354354</h1><br>
          <div style="display: flex;margin-top: -15px; ">
        </div>
      </div>

      <div class="btn-overlay">
     
        <div class="btn-overlay-child">
            <h2 style="text-align:center;color:maroon;padding: 10px;">৳ 43,000</h2>
            <h2 style="text-decoration: line-through;padding: 10px;">৳ 56,000</h2>
        </div>

          <div class="btn-overlay-child2">
        <i class="fa fa-shopping-cart" style="font-size:34px;padding: 10px;"></i>
        <i class="fa fa-eye" style="font-size:34px;padding: 10px;"></i>
        <i class="fa fa-arrow-right" style="font-size:34px;padding: 10px;"></i>
    </div>

      </div>
    
    </div>


    <div class="product-parent">

        <div class="product-child-container">  
            
                <img src="../../assets/images/c5.jpg" alt="" srcset="">
                <img class="top-img" src="../../assets/images/c6.jpg" alt="" srcset="">
           
        </div>
        <div class="star-wrapper">
            <input type="checkbox" id="st1" value="1" />
            <label for="st1"></label>
            <input type="checkbox" id="st2" value="2" />
            <label for="st2"></label>
            <input type="checkbox" id="st3" value="3" />
            <label for="st3"></label>
            <input type="checkbox" id="st4" value="4" />
            <label for="st4"></label>
            <input type="checkbox" id="st5" value="5" />
            <label for="st5"></label>
          </div>
          <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
              <h1 style="text-align:center;padding-top:10px;color:red">Esquire Grinder Mixer 354354</h1><br>
              <div style="display: flex;margin-top: -15px; ">
            </div>
          </div>
    
          <div class="btn-overlay">
         
            <div class="btn-overlay-child">
                <h2 style="text-align:center;color:maroon;padding: 10px;">৳ 43,000</h2>
                <h2 style="text-decoration: line-through;padding: 10px;">৳ 56,000</h2>
            </div>
    
              <div class="btn-overlay-child2">
            <i class="fa fa-shopping-cart" style="font-size:34px;padding: 10px;"></i>
            <i class="fa fa-eye" style="font-size:34px;padding: 10px;"></i>
            <i class="fa fa-arrow-right" style="font-size:34px;padding: 10px;"></i>
        </div>
    
          </div>
        
        </div>

    <div class="product-parent">

        <div class="product-child-container">  
            
                <img src="../../assets/images/c8.jpg" alt="" srcset="">
                <img class="top-img" src="../../assets/images/c2.jpg" alt="" srcset="">
           
        </div>
        <div class="star-wrapper">
            <input type="checkbox" id="st1" value="1" />
            <label for="st1"></label>
            <input type="checkbox" id="st2" value="2" />
            <label for="st2"></label>
            <input type="checkbox" id="st3" value="3" />
            <label for="st3"></label>
            <input type="checkbox" id="st4" value="4" />
            <label for="st4"></label>
            <input type="checkbox" id="st5" value="5" />
            <label for="st5"></label>
          </div>
          <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
              <h1 style="text-align:center;padding-top:10px;color:red">Esquire Grinder Mixer 354354</h1><br>
              <div style="display: flex;margin-top: -15px; ">
            </div>
          </div>
    
          <div class="btn-overlay">
         
            <div class="btn-overlay-child">
                <h2 style="text-align:center;color:maroon;padding: 10px;">৳ 43,000</h2>
                <h2 style="text-decoration: line-through;padding: 10px;">৳ 56,000</h2>
            </div>
    
              <div class="btn-overlay-child2">
            <i class="fa fa-shopping-cart" style="font-size:34px;padding: 10px;"></i>
            <i class="fa fa-eye" style="font-size:34px;padding: 10px;"></i>
            <i class="fa fa-arrow-right" style="font-size:34px;padding: 10px;"></i>
        </div>
    
          </div>
        
        </div> -->













</div>