<div class="box-parent">

<div class="box-child-container">
    
    <div class="child1">
<h1 style="margin-left:-20px;">Breakfast needs</h1>
<h3>Your Breakfast Companion</h3>
<button style="color:white;background-color:black;padding: 14px;text-align: center;padding-bottom:30px;"> Breakfast Needs</button>
<p style="padding-top: 10px;font-size: 14px;">Free Delivery | Brand warranty</p> 
</div>

<div>
    <img src="../../assets/images/blender1.jpg" alt="" srcset="" style="width:140px;padding-left: 40px;">
</div>

</div>

<div class="box-child-container">
    
    <div class="child1">
<h1 style="margin-left:6px;">Laundry Essential</h1>
<h3 style="margin-left:-20px;">Your Daily Companions</h3>
<button style="color:white;background-color:rgb(151, 27, 27);padding: 14px;text-align: center;padding-bottom:30px;"> Breakfast Needs</button>
<p style="padding-top: 10px;font-size: 14px;">Free Delivery | Brand warranty</p> 
</div>

<div>
    <img src="../../assets/images/c4.jpg" alt="" srcset="" style="width:140px;padding-left: 40px;">
</div>

</div>

<div class="box-child-container">
    
    <div class="child1">
<h1 style="margin-left:-20px;">Entertainments</h1>
<h3 style="margin-left:-20px;">Your Daily Companions</h3>
<button style="color:white;background-color:rgb(58, 49, 49);padding: 14px;text-align: center;padding-bottom:30px;"> Breakfast Needs</button>
<p style="padding-top: 10px;font-size: 14px;">Free Delivery | Brand warranty</p> 
</div>

<div>
    <img src="../../assets/images/c8.jpg" alt="" srcset="" style="width:140px;padding-left: 40px;">
</div>

</div>



</div>